DATABASE_URL=postgres://postgres:postgres@localhost:6432/kayle-id

AUTH_SECRET=
FACE_MATCHER_SECRET=
PUBLIC_AUTH_URL=https://localhost:3000
KAYLE_DEV_API_BASE_URL=

REDIS_URL=
REDIS_TOKEN=

EMAIL_FROM_ADDRESS="Kayle ID <auth@kayle.id>"
