DATABASE_URL=postgres://postgres:postgres@localhost:6432/kayle-id

AUTH_SECRET=YrI9mdtghMK4xwI9n9W7npc9rcujcB6X
FACE_MATCHER_SECRET=test-face-matcher-secret
PUBLIC_AUTH_URL=http://127.0.0.1:8787

REDIS_URL=redis://localhost:6379
REDIS_TOKEN=a-super-secret-token

RESEND_API_KEY=test-resend-api-key
RESEND_FROM_EMAIL="Kayle ID <auth@kayle.id>"
