@layer base {
  html {
    background-color: var(--background);
  }

  body {
    min-height: 100dvh;
    font-feature-settings:
      "cv06" 1,
      "cv10" 1,
      "cv11" 1;
    background-color: var(--background);
    text-rendering: optimizeLegibility;
  }

  ::selection {
    color: var(--foreground);
    background: oklch(0.9 0.08 154.8);
  }

  * {
    scrollbar-color: var(--secondary-foreground) transparent;
    scrollbar-width: thin;
  }
}
