# Internal token to authenticate requests to the API.

KAYLE_INTERNAL_TOKEN=

# Auth

AUTH_SECRET=
PUBLIC_AUTH_URL=https://localhost:8787

# Resend

RESEND_API_KEY=
RESEND_FROM_EMAIL=

# Face Matcher

FACE_MATCHER_SECRET=
